@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

a {
  color: #163c2c;
}

.cart-badge {
  @apply absolute font-bold text-orange-600 ml-4 mt-1 text-center
}